<h1>홈</h1>
{{> banner}}
{{> home/partial}}
{{#renderSection 'styles'}}
<!--webpack_style_placeholder-->
{{/renderSection}}
{{#renderSection 'scripts'}}
<!--webpack_script_placeholder-->
{{/renderSection}}