<h2>500 Server Error</h2>
<p>{{errorMsg}}</p>

{{#renderSection 'styles'}}
<!--webpack_style_placeholder-->
{{/renderSection}}
{{#renderSection 'scripts'}}
<!--webpack_script_placeholder-->
{{/renderSection}}